# General detritus
*~
.*.sw?
# Python detritus
*.py[oc]
# Package-building detritus
/build
/dist
/*.egg-info
/MANIFEST
_build/
/cover
/coverage_*
.coverage
.tox
__pycache__
# Other random nonsense
/.venv
*.db
*.bak
/coverage_html_report/
/*.lock
