[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "adjunct"
version = "0.1.1"
description = "A collection of miscellaneous modules"
repository = "https://github.com/kgaughan/adjunct"
authors = ["Keith Gaughan <keith@gaughan.ie>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
coverage = "^5.5"
flake8 = "^3.9.0"
flake8-bugbear = "^21.3.2"
isort = "^5.8.0"
pep8-naming = "^0.11.1"
pylint = "^2.7.4"
pytest = "^6.2.4"
pytest-cov = "^2.12.1"

[tool.isort]
profile = "black"
force_sort_within_sections = true
include_trailing_comma = true
order_by_type = false

[tool.pylint.BASIC]
# Good variable names which should always be accepted, separated by a comma
good-names = "n,i,j,k,_,fh,fd,fn,ip,cb,ts,ch,dt,tz,db,md,al,ns,s"
max-line-length = "105"
exclude-protected = "_flatten"
# There something broken with the import checks with this module. I think it's
# because it contains a wildcard imporot from a C module.
ignored-modules = "sqlite3"
extension-pkg-allow-list = "fcntl"

[tool.pylint."MESSAGE CONTROL"]
disable = "R,C0114,C0115,C0116,raise-missing-from"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q --cov=adjunct --junitxml=tests/results.xml --cov-report html"
testpaths = [
    "tests",
]
junit_suite_name = "adjunct"
junit_logging = "out-err"
junit_family = "xunit2"
